@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    html {
        margin: 0 auto;
    }
    .promo {
        display: inline-block
    }
    .advantage {
        display: inline-block;
    }
    .consultation {
        display: inline-block;
    }
}

@media (max-width: 575px) {
    
}