.advantage {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;;
    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-align: center;
        text-transform: uppercase;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__descr {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &_text {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}